h3{
    background-color: black;
    width: 264px;
    height: 72px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.premiere image{
    float: left;
    width: 25%;
}
.seconde image{
    display: inline-block;
    width: 50%;
}
.trosième image{
    float: right;
    width: 25%;
}
strong{
    color: red;
}